@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('/fonts/inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'firacode';
  src: url('/fonts/firacode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-background: hsl(0, 0%, 100%);
  --color-navbar: hsl(0, 0%, 96%);
  --color-footer: hsl(0, 0%, 100%);
  --color-text-primary: hsl(0, 0%, 30%);
  --color-text-secondary: hsl(0, 0%, 37%);
  --color-text-accent: hsl(175, 57%, 42%);
}

.dark {
  --color-background: hsl(210, 33%, 6%);
  --color-navbar: hsl(210, 33%, 8%);
  --color-footer: hsl(210, 33%, 6%);
  --color-text-primary: hsl(0, 0%, 100%);
  --color-text-secondary: hsl(200, 35%, 80%);
  --color-text-accent: hsl(175, 72%, 54%);
}